<div id="customOptions" class="row">
    <form class="col-md-10 col-md-offset-1 text-center" #f="ngForm" (ngSubmit)="getCustomStreams(f.form)">
        <fieldset class="form-group">
            <label for="game">Game: </label>
            <input id="game" type="text" ngControl="game" #game="ngForm">
        </fieldset>
        <fieldset class="form-group">
            <label for="channels">Channels (separate with commas, no spaces): </label>
            <input id="channels" type="text" ngControl="channels" #channels="ngForm">
        </fieldset>
        <fieldset class="form-group">
            <label for="limit">Number of results (max 100): </label>
            <input id="limit" type="number" ngControl="limit" #limit="ngForm">
        </fieldset>
        <fieldset class="form-group">
            <label for="streamType">Stream type: </label>
            <select id="streamType" ngControl="streamType" #streamType="ngForm">
                <option value="blank"></option>
                <option value="all">All</option>
                <option value="playlist">Playlist</option>
                <option value="live">Live</option>
            </select>
        </fieldset>
        <fieldset class="form-group">
            <label for="language">Language (e.g. en, fr, es-mx etc.): </label>
            <input id="language" type="text" ngControl="language" #language="ngForm">
        </fieldset>
        <button type="submit" class="btn btn-primary">Submit</button>
    </form>
</div>
<div *ngFor="let channel of channelObjects">
    <a [href]="channel.url" target="blank">
        <div class="channel row">
            <div class="col-md-2">
                <img class="channelIcon" [src]="channel.logo">
            </div>
            <div class="channelInfo col-md-8">
                <h4 class="channelTitle">{{ channel.name }}</h4>
                <p class="channelStatus">Status: {{ channel.status }}</p>
            </div>
        </div>
    </a>
</div>