<div id="featuredOptions" class="row">
    <form id="number" class="" #f="ngForm" (ngSubmit)="getStreams(f.form)">
        <label id="numLabel" for="num">Number of results (max 100): </label>
        <input id="num" type="number" class="form-control" ngControl="num" #num="ngForm">
        <button type="submit" class="btn btn-primary">Submit</button>
    </form>
</div>
<div *ngIf="isLoading">Getting data</div>
<div class="row">
    <div class="stream" *ngFor="let stream of streams">
        <img class="streamIcon" [src]="stream.image">
        <div>
            <h4 class="title">{{stream.title}}</h4>
            <p [innerHTML]="stream.text"></p>
        <div>
    </div>
</div>