<div id="featuredOptions" class="row">
    <form id="number" class="col-md-8 col-md-offset-2 form-inline text-center" #f="ngForm" (ngSubmit)="getStreams(f.form)">
        <label for="num">Number of results (max 100): </label>
        <input id="num" type="text" class="form-control" ngControl="num" #num="ngForm">
        <button type="submit" class="btn btn-primary">Submit</button>
    </form>
</div>
<div class="row">
    <div class="stream" *ngFor="let stream of streams">
        <img class="icon" [src]="stream.image">
        <div>
            <h4 class="title">{{stream.title}}</h4>
            <p [innerHTML]="stream.text"></p>
        <div>
    </div>
</div>