<div id="followedOptions" class="row" >
    <div id="all" class="col-md-4 button followedOption" (click)="getChannels('all')">All</div>
    <div id="online" class="col-md-4 button followedOption" (click)="getChannels('online')">Online</div>
    <div id="offline" class="col-md-4 button followedOption" (click)="getChannels('offline')">Offline</div>
</div>

<div id="changeChannels" class="row">
    <form id="addChannel" class="changeChannel col-md-6 form-inline" #f1="ngForm" (ngSubmit)="addChannel(f1.form)">
        <input type="text" class="form-control" ngControl="add" #add="ngForm">
        <button type="submit" id="add" class="btn">Add Channel</button>
    </form>
    <form id="removeChannel" class="changeChannel col-md-6 form-inline" #f2="ngForm" (ngSubmit)="removeChannel(f2.form)">
        <input type="text" class="form-control" ngControl="remove" #remove="ngForm">
        <button type="submit" id="remove" class="btn">Remove Channel</button>
    </form>
</div>

<div *ngFor="let channel of channelObjects">
    <a [href]="channel.url" target="blank">
        <div class="channel row">
            <div class="col-md-2">
                <img class="channelIcon" [src]="channel.logo">
            </div>
            <div class="channelInfo col-md-8">
                <h4 class="channelTitle">{{ channel.name }}</h4>
                <p class="channelStatus">Status: {{ channel.status }}</p>
            </div>
            <div class="col-md-2">
                <div class="onlineStatus" [class.online]="channel.online" [class.offline]="!channel.online"></div>
            </div>
        </div>
    </a>
</div>

<div *ngFor="let error of errorObjects">
    <div class="error row">
        <p>Error: {{ error.error }}</p>
        <p>Status: {{ error.status }}</p>
        <p>Message: {{ error.message }}</p>
    </div>
</div>