<div class="row">
    <div id="all" class="col-md-4 button followedOption" (click)="getChannels('all')">All</div>
    <div id="online" class="col-md-4 button followedOption" (click)="getChannels('online')">Online</div>
    <div id="offline" class="col-md-4 button followedOption" (click)="getChannels('offline')">Offline</div>
</div>
<div *ngFor="let channel of channelObjects">
    <a [href]="channel.url" target="blank">
        <div class="channel row">
            <div class="col-md-2">
                <img class="channelIcon" [src]="channel.logo">
            </div>
            <div class="channelInfo col-md-8">
                <h4 class="channelTitle">{{ channel.name }}</h4>
                <p class="channelStatus">Status: {{ channel.status }}</p>
            </div>
            <div class="col-md-2">
                <div class="onlineStatus" [class.online]="channel.online" [class.offline]="!channel.online"></div>
            </div>
        </div>
    </a>
</div>